{% extends "layout.html" %}

{% block title %}Home | Elite Cuts Barbershop{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <div id="carouselExampleIndicators" class="carousel slide" style="max-width: 800px; width: 100%;" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{{ url_for('static', filename='barbershop.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="{{ url_for('static', filename='barbershop2.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="{{ url_for('static', filename='barbershop3.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button id="slide-arrow-prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button id="slide-arrow-next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<p class="text-center mt-5">At elite cuts barbershop we love to help you feel and look the best you can!
    <br>Random paragraph about other stuff on how good your barbershop is. We're the best 
    <br>and most professional in town. Let us help you become who you want to be</p>
{% endblock %}
