{% extends "layout.html" %}

{% block title %}Services | Elite Cuts Barbershop{% endblock %}

{% block content %}
    <h2 class="text-center mb-4 mt-5">Our Services</h2>
    <p class="text-center mb-2" style="width: 1000px; margin: 0 auto; text-align: center;">We offer a variety of services to help you look and feel your best. Our skilled barbers are trained in the latest techniques and styles to ensure you get the perfect cut every time. Whether you're looking for a classic haircut, a trendy fade, or a straight razor shave, we've got you covered. We also offer beard trims and grooming services to keep your facial hair looking sharp. Book an appointment today and experience the elite cuts difference!</p>
    <div class="d-flex mx-auto justify-content-center flex-wrap">
        <div class="card me-3 mb-3">
            <img src="{{ url_for('static', filename='haircut.jpg') }}" class="d-block mb-1 mt-3" width="500px" height="500px" style="object-fit: cover;" alt="Regular Haircut">
            <div class="card-body">
                <b>Regular Haircut $25</b>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='beard.jpg') }}" class="d-block mb-1 mt-3" width="500px" height="500px" style="object-fit: cover;" alt="Beard Trim">
            <div class="card-body">
                <b>Beard Trim $20</b>
            </div>
        </div>
    </div>
    <div class="d-flex mx-auto justify-content-center flex-wrap">
        <div class="card me-3 mb-3">
            <img src="{{ url_for('static', filename='shave.jpg') }}" class="d-block mb-1 mt-3" width="500px" height="500px" style="object-fit: cover;" alt="Shave">
            <div class="card-body">
                <b>Shave $30</b>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='head_shave.jpg') }}" class="d-block mb-1 mt-3" width="500px" height="500px" style="object-fit: cover;" alt="Head Shave">
            <div class="card-body">
                <b>Head Shave $50</b>
            </div>
        </div>
{% endblock %}
